<h1> {{ author.name }} </h1>
<h3> {{ author.bio }} </h3>

<p>
    This person has contributed the following articles:
</p>

<ul>
    {% for item in recipes %}
        <li><a href="/allrecipes/{{ item.id }}/">{{ item.title }}</a></li>
    {% endfor %}
</ul>
