<!-- {% if message %}
    <h1>{{ message }}</h1>
{% endif %} -->

<!--this 1 change will allow the form to be used by 2 different views &-->
<!--2 different urls-->
<!--a form in html takes in a couple of different arguments. including-->
<!--one called action. if we set action to an empty string '' it will post-->
<!--data to whatever url served it-->
<form action='' method='post'>
    {% csrf_token %}
    <!--    as_p changed form to look better-->
    {{ form.as_p }}
    <input type='submit' value='Submit'>
</form>