<a href="/login/"><button>Log In</button></a>
<a href="/logout/"><button>Log Out</button></a>

<h1> {{ heading }} </h1>

<h3><a href ="/addauthor"> Add Author</a></h3>
<h3><a href ="/addrecipe"> Add Recipe</a></h3>


<ul>

    <!--everything in this block will be repeated like we're pulling from a-->
    <!--list because we are. have to list them out-->
        {% for item in allrecipes %}
    <!--    we can interact with it like a normal python list because it is-->
        <li><a href="/allrecipes/{{ item.id }}/">{{ item.title }}</a> -by <a href="/authors/{{ item.author.id }}">{{ item.author.name }}</a>!!</li>
    
        {% endfor %}
    </ul>
    
    <style>
        body {background-color: #709255;}
        body, h1, h3, a {color: white;}
    </style>
