<h1>{{ recipes.title }}</h1>
<h3>By <a href="/authors/{{ recipes.author.id }}">{{ recipes.author.name }}</a></h3>

<p>
    {{ recipes.description }}
</p>

<h3> {{ recipes.timerequired }}</h3>
<p>
    {{ recipes.instructions }}
</p>